@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 210 34% 13%;

		--card: 0 0% 100%;
		--card-foreground: 210 34% 13%;

		--popover: 0 0% 100%;
		--popover-foreground: 210 34% 13%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 210 34% 13%;

		--radius: 0.5rem;
		--success: 142.1 76.2% 36.3%;
	}

	.dark {
		--background: 210 34% 13%;
		--foreground: 210 40% 98%;

		--card: 210 34% 13%;
		--card-foreground: 210 40% 98%;

		--popover: 210 34% 13%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--radius: 0.5rem;
		--success: 142.1 76.2% 36.3%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.bg-texture {
	background-image: url('https://images.unsplash.com/photo-1605184861733-be9f5814095e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=995&q=80');
}
input,
select {
	line-height: 2.3rem !important;
	height: 2.3rem !important;
	background-color: white;
	color: black;
}
input[type='checkbox'] {
	height: 1.3rem !important;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	display: block;
}

*::-webkit-scrollbar-thumb {
	background-color: #6660ff;
	border-radius: 100px;
}

/* .destructive {
	color: hsl(var(--destructive)) !important;
} */

.vertical-timeline::before {
	background-color: hsl(var(--foreground)) !important;
}
.vertical-timeline-element-content {
	box-shadow: hsl(var(--foreground) / 0.3) 0px 7px 29px 0px !important;
}

.post-shadow {
	box-shadow:
		hsl(var(--foreground) / 0.1) 0px 5px 10px -3px,
		hsl(var(--foreground) / 0.2) 0px 0px 0px -3px;
}
.post-shadow-2 {
	box-shadow:
		hsl(var(--foreground) / 0.1) 0px 5px 10px 6px,
		hsl(var(--foreground) / 0.2) 0px 0px 0px 6px;
}

.input-style {
	width: 100%;
	padding-left: 0.125rem /* 2px */;
	padding-right: 0.125rem /* 2px */;
	border-width: 0px;
	border-bottom-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity));
	color: transparent;
}

.input-style:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	--tw-border-opacity: 1;
	border-color: rgb(147 51 234 / var(--tw-border-opacity));
}

.label-style {
	position: absolute;
	left: 0px;
	top: -1.25rem /* -20px */;
	--tw-text-opacity: 1;
	color: rgb(75 85 99 / var(--tw-text-opacity));
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.gradient-text {
	/* font-size: 72px; */

	background: -webkit-linear-gradient(rgb(161, 161, 169), rgb(37 99 235) /* rgb(62, 62, 244) */);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button:disabled { 
	opacity: .6;
}

.dark select { 
	background-color: hsl( var( --background));
	color : hsl( var( --foreground))
}